nav.filetree-sidebar h1::before {
    content: " ";
    display: block;
    width: 100%;
    height: 3em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/favicon.svg);
    background-position: center;
  }